{% extends "base-form.njk" %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}

{% set isPageDataSensitive = false %}
{% set pageTitleKey = "pages.address-form-previous.title" %}
{% if query.edit == "true" %}
  {% set contentID = "71960c4f-0080-451c-8769-875ac76ea9e7" %}
{% else %}
{% set contentID = "ec7749ee-cd54-4ab8-8a8e-c5feb3499853" %}
{% endif %}
{% set taxLevel2 = 'address' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = false %}

{% set hmpoPageKey = "address-form-previous" %}
{% set hmpoPageContent = "address-form-previous" %}
{% set gtmJourney = "address - prev - middle" %}

{% block mainContent %}

  <h1 id="header" class="govuk-heading-l">{{translate(values.addressFormTitle)}}</h1>

  {{hmpoHtml(translate("links.previous.changePostcode"))}}

  {% call hmpoForm(ctx) %}

  {% include "../components/address-input-fields.njk" %}

  {{ hmpoSubmit(ctx, {attributes: {"data-nav": true, "data-link": "/undefined"}, id: "continue", text: translate("buttons.next")}) }}

  {% endcall %}

{% endblock %}
