{% extends "cri-base-form.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set isPageDataSensitive = false %}
{% set statusCode = '200' %}
{% set pageTitleKey = "pages.address-form-previous.title" %}
{% if query.edit == "true" %}
  {% set contentID = "71960c4f-0080-451c-8769-875ac76ea9e7" %}
{% else %}
{% set contentID = "ec7749ee-cd54-4ab8-8a8e-c5feb3499853" %}
{% endif %}
{% set taxLevel2 = 'address' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = false %}

{% set hmpoPageKey = "address-form-previous" %}
{% set hmpoPageContent = "address-form-previous" %}
{% set gtmJourney = "address - prev - middle" %}

{% block mainContent %}

  <h1 id="header" class="govuk-heading-l">{{translate(values.addressFormTitle)}}</h1>

  {% set changePostcodeHtml = translate("links.previous.changePostcode") %}
  {% if changePostcodeHtml is iterable and changePostcodeHtml is not string %}
    {% for item in changePostcodeHtml %}{{ item | safe }}{% endfor %}
  {% elif changePostcodeHtml %}
    {{ changePostcodeHtml | safe }}
  {% endif %}

  <form action="{{ action }}" method="POST" novalidate spellcheck="false">
    <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">

  {% include "../components/address-input-fields.njk" %}

  {{ govukButton({
    text: translate("buttons.next"),
    attributes: { "id": "continue", "data-nav": "true", "data-link": "/undefined" }
  }) }}

  </form>

{% endblock %}
