{% extends "base-form.njk" %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}

{% set hmpoPageKey = "address-form-previous" %}
{% set hmpoPageContent = "address-form-previous" %}

{% block mainContent %}

    {% if values.checkDetailsHeader === true %}
      <h1 id="header">{{translate("pages.address-form.previous.check-details.title")}}</h1>
    {% else %}
      <h1 id="header">{{translate("pages.address-form.previous.title")}}</h1>
    {% endif %}

  {{hmpoHtml(translate("links.previous.changePostcode"))}}

  {% call hmpoForm(ctx) %}

    {% include "../components/address-input-fields.html" %}

    {{ hmpoSubmit(ctx, {text: translate("buttons.next")}) }}

  {% endcall %}

{% endblock %}
