{% extends "base-form.njk" %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}
{% from "components/analytics/onPageLoad/macro.njk" import ga4OnPageLoad %}

{% set hmpoPageKey = "address-form-previous" %}
{% set hmpoPageContent = "address-form-previous" %}
{% set gtmJourney = "address - prev - middle" %}

{% block mainContent %}

    {% if values.checkDetailsHeader === true %}
      <h1 id="header" class="govuk-heading-l">{{translate("pages.address-form.previous.check-details.title")}}</h1>
    {% else %}
      <h1 id="header" class="govuk-heading-l">{{translate("pages.address-form.previous.title")}}</h1>
    {% endif %}

  {{hmpoHtml(translate("links.previous.changePostcode"))}}

  {% call hmpoForm(ctx) %}

    {% include "../components/address-input-fields.njk" %}

    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}

  {% endcall %}
  {{ ga4OnPageLoad({
      nonce: scriptNonce,
      statusCode: "200",
      englishPageTitle: "pages.address-form.previous.title" | translate,
      taxonomyLevel1: "web cri",
      taxonomyLevel2: "address",
      contentId: "003169c0-f24a-4640-935f-b6e19d04d4a8",
      loggedInStatus: false,
      dynamic: false
    }) }}
{% endblock %}
