{% extends "base-form.njk" %}
{% set hmpoPageKey = "addressProblem" %}
{% set gtmJourney = "address - prev - middle" %}

{% set isPageDataSensitive = false %}

{% set pageTitleKey = "pages.addressProblem.title" %}
{% set contentID = "a0c9a8c7-ef06-42f1-990e-24be8eea707e" %}
{% set taxLevel2 = 'address' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}

{% set backLink = false %}

{% block mainContent %}

  {% include "../components/address-problem-field.njk" %}

{% endblock %}
