{% extends "base-form.njk" %}
{% set hmpoPageKey = "address-previous-search" %}
{% set hmpoPageContent = "address-previous-search" %}
{% from "hmpo-text/macro.njk" import hmpoText %}

{% block mainContent %}

  <h1 id="header">{{translate("pages.address-previous-search.title")}} </h1>

  {% call hmpoForm(ctx) %}

    {{ hmpoText(ctx, {
      id: "addressSearch",
      label: {
        text: translate("fields.addressSearch.previous.label"),
        classes: "govuk-label govuk-label--m"
      },
      classes: "govuk-!-width-one-half",
      hint:  translate("fields.addressSearch.previous.hint")
    }) }}

    {{ hmpoSubmit(ctx, {text: translate("buttons.find-address")}) }}

  {% endcall %}

{% endblock %}
