{% extends "cri-base-form.njk" %}
{% set hmpoPageKey = "address-previous-search" %}
{% set hmpoPageContent = "address-previous-search" %}
{% set gtmJourney = "address - prev - start" %}

{% set isPageDataSensitive = false %}
{% set statusCode = '200' %}
{% set pageTitleKey = "pages.address-previous-search.title" %}
{% set contentID = "3f01503e-4b44-4bd4-80d0-70d16177879f" %}
{% set taxLevel2 = 'address' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block mainContent %}

  <h1 id="header" class="govuk-heading-l">{{translate("pages.address-previous-search.title")}}
  </h1>

  <form action="{{ action }}" method="POST" novalidate spellcheck="false">
    <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">

  {{ govukInput(formFields.addressSearch) }}

  {{ govukButton({
    text: translate("buttons.find-address"),
    attributes: { "id": "continue", "data-nav": "true", "data-link": "/previous-results" }
  }) }}

  </form>

{% endblock %}
