PORT=
EXTERNAL_WEBSITE_HOST=
ORDNANCE_SURVEY_SECRET=
REDIS_SESSION_URL=
GA4_CONTAINER_ID="GTM-KD86CMZ"
FRONTEND_DOMAIN="localhost"
DEVICE_INTELLIGENCE_DOMAIN=localhost
MAY_2025_REBRAND_ENABLED=true
NODE_ENV="development"
USE_PINO_LOGGER=true
BROWSER=firefox
