CORE_STUB_CONFIG_DIRECTORY=/path/to/config/dir/containing/keystore/and/user/data/file
CREDENTIAL_ISSUER_LABEL="Label of button as configured in di-ipv-config file"
CORE_STUB_URL=http://core-stub-instance:8085/
MOCK_API_URL=http://wiremock-instance:port
MOCK_API=false
