CORE_STUB_CONFIG_DIRECTORY=/path/to/config/dir/containing/keystore/and/user/data/file
CREDENTIAL_ISSUER_LABEL="Label of button as configured in di-ipv-config file"
MOCK_API_URL=http://localhost:8080
MOCK_API=false
WEBSITE_HOST=http://localhost:5010
API_BASE_URL=http://localhost:8080
