{% extends "form-template.njk" %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}
{% from "hmpo-text/macro.njk" import hmpoText %}
{% set hmpoPageKey = "address-form" %}
{% set hmpoPageContent = "address-form" %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set hmpoPageKey = "address-form" %}

{% block mainContent %}

  {% if values.addPreviousAddresses %}
    <h1 id="header">{{translate("pages.address-form-previous.title")}}</h1>
  {% else %}
    <h1 id="header">{{translate("pages.address-form.title")}}</h1>
  {% endif %}

  {{hmpoHtml(translate("links.changePostcode"))}}

  {% call hmpoForm(ctx) %}

    {{ govukInput({
      id: "addressFlatNumber",
      name: "addressFlatNumber",
      label: { text: translate("fields.addressFlatNumber.label") },
      classes: "govuk-input--width-5",
      value: addressFlatNumber
    }) }}

    {{ govukInput({
      id: "addressHouseNumber",
      name: "addressHouseNumber",
      label: { text: translate("fields.addressHouseNumber.label") },
      classes: "govuk-input--width-5",
      value: addressHouseNumber
    }) }}

    {{ govukInput({
      id: "addressHouseName",
      name: "addressHouseName",
      label: { text: translate("fields.addressHouseName.label") },
      classes: "govuk-input--width-20",
      value: addressHouseName
    }) }}

    {{ govukInput({
      id: "addressStreetName",
      name: "addressStreetName",
      label: { text: translate("fields.addressStreetName.label") },
      classes: "govuk-input--width-20",
      value: addressStreetName
    }) }}

    {{ govukInput({
      id: "addressLocality",
      name: "addressLocality",
      label: { text: translate("fields.addressLocality.label") },
      classes: "govuk-input--width-20",
      value: addressLocality
    }) }}

    {% if values.addPreviousAddresses %}
      {{ govukInput({
        id: "addressYearFrom",
        name: "addressYearFrom",
        label: { text: translate("fields.addressYearFrom.label") },
        classes: "govuk-input--width-4",
        value: "2022"
      }) }}
    {% else %}
      <h4>{{translate("fields.addressYearFrom.title")}}</h4>

      {{ govukInput({
        id: "addressYearFrom",
        name: "addressYearFrom",
        label: { text: translate("fields.addressYearFrom.label") },
        classes: "govuk-input--width-4",
        value: addressYearFrom
      }) }}
    {% endif %}

    {{ hmpoSubmit(ctx, {text: translate("buttons.next")}) }}

  {% endcall %}

{% endblock %}
