{% extends "cri-base-form.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/address-year-from-field.njk" import yearFromField %}

{% set hmpoPageKey = "address-form" %}
{% set hmpoPageContent = "address-form" %}
{% set gtmJourney = "address - middle" %}


{% set isPageDataSensitive = false %}
{% set statusCode = '200' %}
{% set pageTitleKey = "pages.address.title" %}
{% if query.edit == "true" %}
  {% set contentID = "8db200f0-55ce-40a5-867b-673c2ddac241" %}
{% else %}
  {% set contentID = "003169c0-f24a-4640-935f-b6e19d04d4a8" %}
{% endif %}
{% set taxLevel2 = 'address' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}

{% set hmpoPageKey = "address-form" %}
{% set label = translate("fields.addressYearFrom.label") %}
{% set title = translate("fields.addressYearFrom.title") %}

{% block mainContent %}

  <h1 id="header" class="govuk-heading-l">{{translate(values.addressFormTitle)}}</h1>

  {% set changePostcodeHtml = translate("links.changePostcode") %}
  {% if changePostcodeHtml is iterable and changePostcodeHtml is not string %}
    {% for item in changePostcodeHtml %}{{ item | safe }}{% endfor %}
  {% elif changePostcodeHtml %}
    {{ changePostcodeHtml | safe }}
  {% endif %}

  <form action="{{ action }}" method="POST" autocomplete="on" novalidate spellcheck="false">
    <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">

  {% include "../components/address-input-fields.njk" %}
  {{ yearFromField({ name: "addressYearFrom", title: title, label: label }) }}

  {{ govukButton({
    text: translate("buttons.next"),
    attributes: { "id": "continue", "data-nav": "true", "data-link": "/undefined" }
  }) }}

  </form>

{% endblock %}
