{% extends "base-form.njk" %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}
{% from "components/analytics/onPageLoad/macro.njk" import ga4OnPageLoad %}

{% set hmpoPageKey = "address-form" %}
{% set hmpoPageContent = "address-form" %}
{% set gtmJourney = "address - middle" %}

{% set hmpoPageKey = "address-form" %}

{% block mainContent %}

   {% if values.checkDetailsHeader === true %}
   <h1 id="header" class="govuk-heading-l">{{translate("pages.address-form.check-details.title")}}</h1>
  {% else %}
    <h1 id="header" class="govuk-heading-l">{{translate("pages.address-form.title")}}</h1>
  {% endif %}

  {{hmpoHtml(translate("links.changePostcode"))}}

  {% call hmpoForm(ctx, {autocomplete:'on'}) %}

    {% include "../components/address-input-fields.njk" %}
    {% include "../components/address-year-from-field.njk" %}

    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}

  {% endcall %}

  {{ ga4OnPageLoad({
    nonce: cspNonce,
    statusCode: '200',
    englishPageTitle: 'pages.address-form.title' | translate,
    taxonomyLevel1: 'web cri',
    taxonomyLevel2: 'address',
    contentId: '003169c0-f24a-4640-935f-b6e19d04d4a8',
    loggedInStatus: true,
    dynamic: false
  }) }}

{% endblock %}
