{% extends "form-template.njk" %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}
{% from "hmpo-text/macro.njk" import hmpoText %}
{% set hmpoPageKey = "address-form" %}
{% set hmpoPageContent = "address-form" %}

{% set hmpoPageKey = "address-form" %}


{% block content %}

  {% if values.addPreviousAddresses %}
    <h1 id="header">{{translate("pages.address-form-previous.title")}}</h1>
  {% else %}
    <h1 id="header">{{translate("pages.address-form.title")}}</h1>
  {% endif %}

  {{hmpoHtml(translate("links.changePostcode"))}}

  {% call hmpoForm(ctx) %}

    {{ hmpoText(ctx, {
      id: "addressFlatNumber",
      label: translate("fields.address-line-flat.label"),
      classes: "govuk-input--width-5"
    }) }}

    {{ hmpoText(ctx, {
      id: "addressHouseNumber",
      label: translate("fields.address-line-house.label"),
      classes: "govuk-input--width-5"
    }) }}

    {{ hmpoText(ctx, {
      id: "addressHouseName",
      label: translate("fields.address-line-house-name.label"),
      classes: "govuk-input--width-20"
  }) }}

    {{ hmpoText(ctx, {
      id: "addressStreetName",
      autocomplete: "street-address",
      label: translate("fields.address-line-street.label"),
      classes: "govuk-input--width-20"
    }) }}

    {{ hmpoText(ctx, {
      id: "addressTownOrCity",
      autocomplete: "address-level1",
      label: translate("fields.address-town.label"),
      classes: "govuk-input--width-20"
    }) }}

    <h4>{{translate("fields.address-year-from.title")}}</h4>

    {{ hmpoText(ctx, {
      id: "addressValidFrom",
      label: translate("fields.address-year-from.label"),
      classes: "govuk-input--width-4"
    }) }}

    {{ hmpoSubmit(ctx, {text: translate("buttons.next")}) }}

  {% endcall %}

{% endblock %}
