{% extends "./templates/address-base.html" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "hmpo-html/macro.njk" import hmpoHtml %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% set hmpoPageKey = "address-confirm" %}


{% block mainContent %}

  <h1 id="header">{{translate("pages.address-confirm.title")}}</h1>

  {{ govukWarningText({
    text: translate("pages.address-confirm.warning"),
    iconFallbackText: "Warning"
  }) }}

  {% if previousAddressRowValue %}
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: translate("fields.address-confirm.current")
          },
          value: {
            html: currentAddressRowValue
          },
          actions: {
            items: [
              {
                href: "#",
                text: translate("fields.address-confirm.change")
              }
            ]
          }
        },
        {
          key: {
            text: translate("fields.address-confirm.year-current")
          },
          value: {
            text: validFromRow
          },
          actions: {
            items: [
              {
                href: "#",
                text: translate("fields.address-confirm.change")
              }
            ]
          }
        },
        {
          key: {
            text: translate("fields.address-confirm.previous")
          },
          value: {
            html: previousAddressRowValue
          },
          actions: {
            items: [
              {
                href: "#",
                text: translate("fields.address-confirm.change")
              }
            ]
          }
        }
      ]
    }) }}

  {% else %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: translate("fields.address-confirm.current")
          },
          value: {
            html: currentAddressRowValue
          },
          actions: {
            items: [
              {
                href: "#",
                text: translate("fields.address-confirm.change")
              }
            ]
          }
        },
        {
          key: {
            text: translate("fields.address-confirm.year-current")
          },
          value: {
            text: validFromRow
          },
          actions: {
            items: [
              {
                href: "#",
                text: translate("fields.address-confirm.change")
              }
            ]
          }
        }
      ]
    }) }}

  {% endif %}

  {% call hmpoForm(ctx) %}

    {% if isMoreInfoRequirred and addPreviousAddresses %}
      {{ govukRadios({
        classes: "govuk-radios--inline",
        id: "moreInfoRequired",
        name: "moreInfoRequired",
        value: moreInfoRequired,
        fieldset: {
          legend: {
            text: translate("fields.addressLivingDuration.label"),
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: translate("fields.addressLivingDuration.hint")
        },
        items: [
          {
            value: false,
            text: translate("fields.addressLivingDuration.items.moreInfoRequired.moreInfoNotRequired.text")
          },
          {
            value: true,
            text: translate("fields.addressLivingDuration.items.moreInfoRequired.moreInfoRequired.text")
          }
        ]
      }) }}
    {% endif %}

    {{ hmpoSubmit(ctx, {
        text: translate("buttons.next"),
        attributes: {
        "data-id": "next"
      }
    }) }}
  {% endcall %}

  <br>
{% endblock %}
