{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "hmpo-html/macro.njk" import hmpoHtml %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "form-template.njk" %}
{% set hmpoPageKey = "address-confirm" %}

{% block mainContent %}

  <h1 id="header">{{translate("pages.address-confirm.title")}}</h1>

  {{ govukWarningText({
    text: translate("pages.address-confirm.warning"),
    iconFallbackText: "Warning"
  }) }}

  {% if previousAddressRowValue %}
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: translate("fields.address-confirm.current")
          },
          value: {
            html: currentAddressRowValue
          },
          actions: {
            items: [
              {
                href: "#",
                text: translate("fields.address-confirm.change")
              }
            ]
          }
        },
        {
          key: {
            text: translate("fields.address-confirm.year-current")
          },
          value: {
            text: yearMovedRowValue
          },
          actions: {
            items: [
              {
                href: "#",
                text: translate("fields.address-confirm.change")
              }
            ]
          }
        },
        {
          key: {
            text: translate("fields.address-confirm.previous")
          },
          value: {
            html: previousAddressRowValue
          },
          actions: {
            items: [
              {
                href: "#",
                text: translate("fields.address-confirm.change")
              }
            ]
          }
        }
      ]
    }) }}

  {% else %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: translate("fields.address-confirm.current")
          },
          value: {
            html: currentAddressRowValue
          },
          actions: {
            items: [
              {
                href: "#",
                text: translate("fields.address-confirm.change")
              }
            ]
          }
        },
        {
          key: {
            text: translate("fields.address-confirm.year-current")
          },
          value: {
            text: yearMovedRowValue
          },
          actions: {
            items: [
              {
                href: "#",
                text: translate("fields.address-confirm.change")
              }
            ]
          }
        }
      ]
    }) }}

  {% endif %}

  {% call hmpoForm(ctx) %}
    {{ hmpoSubmit(ctx, {
        text: translate("buttons.next"),
        attributes: {
        "data-id": "next"
      }
    }) }}
  {% endcall %}



  <br>
{% endblock %}
