{% extends "base-form.njk" %}
{% set hmpoPageKey = "countryPicker" %}
{% set hmpoPageContent = "countryPicker" %}
{% set gtmJourney = "address - middle" %}

{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-select/macro.njk" import hmpoSelect %}

{% block mainContent %}

  <h1 id="header" class="govuk-heading-l">{{translate("pages.countryPicker.title")}} </h1>

  {% call hmpoForm(ctx) %}

    {{ hmpoSelect(ctx, {
        id: "countryPicker"
    }) }}

    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}

  {% endcall %}


  <script id="govuk-script-analytics" nonce="{{ cspNonce }}" type="text/javascript"> 
    document.addEventListener('DOMContentLoaded', function() {

      const initialiseAddressCountryAutocomplete = () => {
        var autocompleteScript = document.createElement('script')

        autocompleteScript.onload = function () {
          accessibleAutocomplete.enhanceSelectElement({
            selectElement: document.querySelector('#countryPicker'),
            showAllValues: true,
            dropdownArrow: () => ''
          })
        }

        autocompleteScript.setAttribute('type', 'text/javascript')
        autocompleteScript.setAttribute('src', '/public/javascripts/accessible-autocomplete.min.js')
        document.getElementsByTagName('head')[0].appendChild(autocompleteScript)
      }
      initialiseAddressCountryAutocomplete()
    })
</script>
{% endblock %}
