{% extends "base-form.njk" %}
{% set hmpoPageKey = "addressProblem" %}
{% set gtmJourney = "address - middle" %}

{% set isPageDataSensitive = false %}
{% set pageTitleKey = "pages.addressProblem.title" %}
{% set contentID = "592e5c01-63cc-476e-b40d-377aea139c67" %}
{% set taxLevel2 = 'address' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}


{% set backLink = false %}

{% block mainContent %}

  {% include "../components/address-problem-field.njk" %}

{% endblock %}
