{% extends "base-form.njk" %}
{% set hmpoPageKey = "addressSearch" %}
{% set hmpoPageContent = "addressSearch" %}
{% set gtmJourney = "address - start" %}

{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block mainContent %}

  <h1 id="header" class="govuk-heading-l">{{translate("pages.addressSearch.title")}} </h1>
  {% call hmpoForm(ctx) %}

{% if prepopulatedPostcode %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  text: translate("pages.addressSearch.drivingLicence")
}) }}
{% endif %}

    {{ hmpoText(ctx, {
      id: "addressSearch",
      label: {
        key: translate(fields.addressSearch.label),
        classes: "govuk-label govuk-label--m"
      },
      classes: "govuk-!-width-one-half",
      hint:  translate("fields.addressSearch.hint")
    }) }}

    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.find-address")}) }}

  {% endcall %}


{% endblock %}

{% block scripts %}

{{ super() }}
<script {% if cspNonce %} nonce="{{ cspNonce }}"{% endif %}>
  window.addEventListener('load', function () {
      window
          .DI
          .analyticsGa4
          .pageViewTracker
          .trackOnPageLoad({
              statusCode: '200', // Access status code
              englishPageTitle: '{{translate("pages.addressSearch.title")}}',
              taxonomy_level1: 'web cri', // Access taxonomy level 1
              taxonomy_level2: 'address', // Access taxonomy level 2
              content_id: 'd29ae122-986d-4730-8dac-8798b79f7aba',
              logged_in_status: true,
              dynamic: false
          });
  });
  </script>

{% endblock %}
