{% extends "base-form.njk" %}
{% set hmpoPageKey = "addressSearch" %}
{% set hmpoPageContent = "addressSearch" %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block mainContent %}

  <h1 id="header">{{translate("pages.addressSearch.title")}} </h1>
  {% call hmpoForm(ctx) %}

    {% include "../components/address-search-field.html" %}

    {{ hmpoSubmit(ctx, {text: translate("buttons.find-address")}) }}

  {% endcall %}

{% endblock %}
