{% extends "cri-base-form.njk" %}
{% set hmpoPageKey = "addressSearch" %}
{% set hmpoPageContent = "addressSearch" %}
{% set gtmJourney = "address - start" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set isPageDataSensitive = false %}
{% set statusCode = '200' %}
{% set pageTitleKey = "pages.addressSearch.title" %}
{% set contentID = "d29ae122-986d-4730-8dac-8798b79f7aba" %}
{% set taxLevel2 = 'address' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}

{% block mainContent %}

  <h1 id="header" class="govuk-heading-l">{{translate("pages.addressSearch.title")}}
  </h1>

  <form action="{{ action }}" method="POST" autocomplete="on" novalidate spellcheck="false">
    <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">

  {% if prepopulatedPostcode %}
    {{ govukInsetText({
      text: translate("pages.addressSearch.drivingLicence")
    }) }}
  {% endif %}

  {{ govukInput(formFields.addressSearch) }}

  {{ govukButton({
      text: translate("buttons.find-address"),
      attributes: { "id": "continue", "data-nav": "true", "data-link": "/results" }
    }) }}
  {%- include "../components/continue-submit-spinner.njk" -%}

  </form>

{% endblock %}
