{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "base-form.njk" %}
{% set hmpoPageKey = "addressSearch" %}
{% set hmpoPageContent = "addressSearch" %}
{% set gtmJourney = "address - start" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set isPageDataSensitive = false %}
{% set statusCode = '200' %}
{% set pageTitleKey = "pages.addressSearch.title" %}
{% set contentID = "d29ae122-986d-4730-8dac-8798b79f7aba" %}
{% set taxLevel2 = 'address' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}

{% block mainContent %}

  <h1 id="header" class="govuk-heading-l">{{translate("pages.addressSearch.title")}}
  </h1>
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrf }}">

  {% if prepopulatedPostcode %}
    {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

    {{ govukInsetText({
  text: translate("pages.addressSearch.drivingLicence")
}) }}
  {% endif %}

  {{ govukInput({ id: "addressSearch", name: "addressSearch", value: fieldValues.addressSearch, errorMessage: fieldErrors.addressSearch, label: { text: translate("addressSearch.label") }, hint: { text: translate("addressSearch.hint") } }) }}

  {{ govukButton({ id: "continue", text: translate("buttons.find-address"), preventDoubleClick: true, attributes: { "data-nav": "true", "data-link": "/results" } }) }}
  {%- include "../components/continue-submit-spinner.njk" -%}

  </form>

{% endblock %}
