{% extends "base-form.njk" %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}

{% set hmpoPageKey = "time-at-address" %}
{% set hmpoPageContent = "address-form" %}
{% set gtmJourney = "address - middle" %}

{% block mainContent %}

  {% if values.checkDetailsHeader === true %}
    <h1 id="header" class="govuk-heading-l">{{translate("pages.address-form.check-details.title")}}</h1>
  {% else %}
     <h1 id="header" class="govuk-heading-l">{{translate("pages.time-at-address.title")}}</h1>
  {% endif %}

  {% call hmpoForm(ctx) %}

    {% include "../components/address-year-from-field.html" %}

    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}

  {% endcall %}

{% endblock %}
