{% extends "cri-base-form.njk" %}
{% set hmpoPageKey = "country" %}
{% set hmpoPageContent = "country" %}
{% set gtmJourney = "address - middle" %}

{% set isPageDataSensitive = true %}
{% set statusCode = '200' %}
{% set pageTitleKey = "pages.country.title" %}
{% set contentID = "189ae53d-c845-477a-92f3-24f42e0b597f" %}
{% set taxLevel2 = 'address' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block mainContent %}

  <form action="{{ action }}" method="POST" novalidate spellcheck="false">
    <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">

  {{ govukSelect({
    id: "country",
    name: "country",
    value: formFields.country.value if formFields.country else "",
    label: {
      text: translate("pages.country.title"),
      classes: "govuk-label--l",
      isPageHeading: true
    },
    errorMessage: formFields.country.errorMessage if formFields.country else undefined,
    items: formFields.country.items if formFields.country else []
  }) }}

  {{ govukButton({
    text: translate("buttons.next"),
    attributes: { "id": "continue" }
  }) }}

  </form>


  <script type="text/javascript" nonce="{{ cspNonce }}" src="/public/javascripts/accessible-autocomplete.min.js"></script>
  <script type="text/javascript" nonce="{{ cspNonce }}">
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#country'),
      autoselect: false,
      showAllValues: true,
      dropdownArrow: () => '<svg class="autocomplete__dropdown-arrow-down" viewBox="0 0 512 512"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9  c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3  z"></path></svg>'
    })
  </script>
{% endblock %}
