{% extends "base-form.njk" %}
{% set hmpoPageKey = "errors.pageNotFound" %}
{% set gtmJourney = "address - not found" %}

{% block scripts %}

{{ super() }}
<script {% if cspNonce %} nonce="{{ cspNonce }}"{% endif %}>
  window.addEventListener('load', function () {
      window
          .DI
          .analyticsGa4
          .pageViewTracker
          .trackOnPageLoad({
              statusCode: '404', // Access status code
              englishPageTitle: '{{translate("pageNotFound.title")}}',
              taxonomy_level1: 'web cri', // Access taxonomy level 1
              taxonomy_level2: 'page-not-found', // Access taxonomy level 2
              content_id: 'undefined',
              logged_in_status: true,
              dynamic: false
          });
  });
  </script>

{% endblock %}
