{% extends "base-page.njk" %}
{% set hmpoPageKey = "errors.sessionEnded" %}
{% set gtmJourney = "address - error" %}

{% block scripts %}

{{ super() }}
<script {% if cspNonce %} nonce="{{ cspNonce }}"{% endif %}>
  window.addEventListener('load', function () {
      window
          .DI
          .analyticsGa4
          .pageViewTracker
          .trackOnPageLoad({
              statusCode: '200', // Access status code
              englishPageTitle: '{{translate("sessionEnded.title")}}',
              taxonomy_level1: 'web cri', // Access taxonomy level 1
              taxonomy_level2: 'session-ended', // Access taxonomy level 2
              content_id: 'undefined',
              logged_in_status: true,
              dynamic: false
          });
  });
  </script>

{% endblock %}
