{% include "../components/address-confirm.njk" %}

{% set isPageDataSensitive = false %}
{% set pageTitleKey = "pages.address-confirm.title" %}
{% set contentID = "b5e5b9eb-3310-4254-ae84-3fa8a7740372" %}
{% set taxLevel2 = 'address' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}
