{% extends "base-form.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}

{% set hmpoPageKey = "address-confirm" %}
{% set gtmJourney = "address - end" %}

{% block mainContent %}

  <h1 id="header" class="govuk-heading-l">{{translate("pages.address-confirm.title")}}</h1>

  {{ govukWarningText({
    text: translate("pages.address-confirm.warning"),
    iconFallbackText: "Warning"
  }) }}

  {% if previousAddressRowValue %}
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: translate("fields.address-confirm.current")
          },
          value: {
            html: currentAddressRowValue
          },
          actions: {
            items: [
              {
                href: "/address/edit",
                html: translate("fields.address-confirm.change.change-current-address"),
                attributes: {
                  "data-id": "yearFromChange"
                }
              }
            ]
          }
        },
        {
          key: {
            text: translate("fields.address-confirm.year-current")
          },
          value: {
            text: validFromRow
          },
          actions: {
            items: [
              {
                href: "/address/edit",
                html: translate("fields.address-confirm.change.change-current-yearfrom"),
                attributes: {
                  "data-id": "yearFromChange"
                }
              }
            ]
          }
        },
        {
          key: {
            text: translate("fields.address-confirm.previous")
          },
          value: {
            html: previousAddressRowValue
          },
          actions: {
            items: [
              {
                href: "/previous/address/edit",
                html: translate("fields.address-confirm.change.change-previous-address"),
                attributes: {
                  "data-id": "previousAddressChange"
                }
              }
            ]
          }
        }
      ]
    }) }}

  {% else %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: translate("fields.address-confirm.current")
          },
          value: {
            html: currentAddressRowValue
          },
          actions: {
            items: [
              {
                href: "/address/edit",
                html: translate("fields.address-confirm.change.change-current-address"),
                attributes: {
                  "data-id": "currentAddressChange"
                }
              }
            ]
          }
        },
        {
          key: {
            text: translate("fields.address-confirm.year-current")
          },
          value: {
            text: validFromRow
          },
          actions: {
            items: [
              {
                href: "/address/edit",
                html: translate("fields.address-confirm.change.change-current-yearfrom"),
                attributes: {
                  "data-id": "yearFromChange"
                }
              }
            ]
          }
        }
      ]
    }) }}

  {% endif %}

  {% call hmpoForm(ctx) %}

    {% if isMoreInfoRequired %}

      {{ hmpoRadios(ctx, {
        id: "isAddressMoreThanThreeMonths",
        name: "isAddressMoreThanThreeMonths",
        value: "isAddressMoreThanThreeMonths",
        inline: true,
        attributes: {
          "data-id": "getPreviousAddressRadios"
        },
        label: {
          classes: ["govuk-fieldset__legend--s"]
        },
        fields: isAddressMoreThanThreeMonths.items
      }) }}

    {% endif %}

    {{ hmpoSubmit(ctx, {
        text: translate("pages.address-confirm.buttons.next"),
        attributes: {
        "data-id": "next"
      }
    }) }}
  {% endcall %}

  <br>
{% endblock %}
