{% include "../components/address-confirm.njk" %}

{% set isPageDataSensitive = false %}
{% set pageTitleKey = "pages.address-confirm.title" %}
{% set contentID = "a0e8a62c-1b8c-4042-a7fc-d0409d3638d2" %}
{% set taxLevel2 = 'address' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}
