
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "./building-address/macro.njk" import inputGroup %}

{{ govukInput({ id: "addressFlatNumber", name: "addressFlatNumber", value: fieldValues.addressFlatNumber, errorMessage: fieldErrors.addressFlatNumber, label: { text: translate("addressFlatNumber.label") }, hint: { text: translate("addressFlatNumber.hint") } }) }}

{% include "./building-address/UK-building-address-input.njk" %}

{{ govukInput({ id: "addressStreetName", name: "addressStreetName", value: fieldValues.addressStreetName, errorMessage: fieldErrors.addressStreetName, label: { text: translate("addressStreetName.label") }, hint: { text: translate("addressStreetName.hint") } }) }}

{{ govukInput({ id: "addressLocality", name: "addressLocality", value: fieldValues.addressLocality, errorMessage: fieldErrors.addressLocality, label: { text: translate("addressLocality.label") }, hint: { text: translate("addressLocality.hint") } }) }}
