{% extends "base-form.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set hmpoPageKey = "address-confirm" %}
{% set gtmJourney = "address - end" %}

{% set isPageDataSensitive = false %}
{% set statusCode = '200' %}
{% set pageTitleKey = "pages.address-confirm.title" %}
{% if contentID is not defined %}
    {% set contentID = "9ce5b0a2-5e6d-4e05-8757-7463aba2dc0a" %}
{% endif %}
{% set taxLevel2 = 'address' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}

{% block mainContent %}

  <h1 id="header" class="govuk-heading-l">{{translate("pages.address-confirm.title")}}</h1>

  {{ govukWarningText({
    text: translate("pages.address-confirm.warning"),
    iconFallbackText: "Warning"
  }) }}

  {% if previousAddressRowValue %}
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: translate("fields.address-confirm.current")
          },
          value: {
            html: currentAddressRowValue
          },
          actions: {
            items: [
              {
                href: changeCurrentHref,
                html: translate("fields.address-confirm.change.change-current-address"),
                attributes: {
                  "data-id": "yearFromChange"
                }
              }
            ]
          }
        },
        {
          key: {
            text: translate("fields.address-confirm.year-current")
          },
          value: {
            text: validFromRow
          },
          actions: {
            items: [
              {
                href: changeCurrentHref,
                html: translate("fields.address-confirm.change.change-current-yearfrom"),
                attributes: {
                  "data-id": "yearFromChange"
                }
              }
            ]
          }
        },
        {
          key: {
            text: translate("fields.address-confirm.previous")
          },
          value: {
            html: previousAddressRowValue
          },
          actions: {
            items: [
              {
                href: "/previous/address/edit?edit=true",
                html: translate("fields.address-confirm.change.change-previous-address"),
                attributes: {
                  "data-id": "previousAddressChange"
                }
              }
            ]
          }
        }
      ]
    }) }}

  {% else %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: translate("fields.address-confirm.current")
          },
          value: {
            html: currentAddressRowValue
          },
          actions: {
            items: [
              {
                href: changeCurrentHref,
                html: translate("fields.address-confirm.change.change-current-address"),
                attributes: {
                  "data-id": "currentAddressChange"
                }
              }
            ]
          }
        },
        {
          key: {
            text: translate("fields.address-confirm.year-current")
          },
          value: {
            text: validFromRow
          },
          actions: {
            items: [
              {
                href: changeCurrentHref,
                html: translate("fields.address-confirm.change.change-current-yearfrom"),
                attributes: {
                  "data-id": "yearFromChange"
                }
              }
            ]
          }
        }
      ]
    }) }}
  {% endif %}

  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrf }}">

  {% if isMoreInfoRequired %}

    {{ govukRadios({ idPrefix: "hasPreviousUKAddressWithinThreeMonths", name: "hasPreviousUKAddressWithinThreeMonths", errorMessage: fieldErrors.hasPreviousUKAddressWithinThreeMonths, fieldset: { legend: { text: translate("hasPreviousUKAddressWithinThreeMonths.legend"), isPageHeading: true, classes: "govuk-fieldset__legend--l" } }, items: fieldItems.hasPreviousUKAddressWithinThreeMonths or [] }) }}

  {% endif %}

  {{ govukButton({ id: "continue", text: translate("pages.address-confirm.buttons.next"), preventDoubleClick: true, attributes: { "data-nav": "true", "data-link": "/undefined" } }) }}
  {%- include "../components/continue-submit-spinner.njk" -%}

  </form>

  <br>

{% endblock %}
