{% extends "cri-base-form.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set hmpoPageKey = "address-confirm" %}
{% set gtmJourney = "address - end" %}

{% set isPageDataSensitive = false %}
{% set statusCode = '200' %}
{% set pageTitleKey = "pages.address-confirm.title" %}
{% if contentID is not defined %}
    {% set contentID = "9ce5b0a2-5e6d-4e05-8757-7463aba2dc0a" %}
{% endif %}
{% set taxLevel2 = 'address' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}

{% block mainContent %}

  <h1 id="header" class="govuk-heading-l">{{translate("pages.address-confirm.title")}}</h1>

  {{ govukWarningText({
    text: translate("pages.address-confirm.warning"),
    iconFallbackText: "Warning"
  }) }}

  {% if previousAddressRowValue %}
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: translate("fields.address-confirm.current")
          },
          value: {
            html: currentAddressRowValue
          },
          actions: {
            items: [
              {
                href: changeCurrentHref,
                html: translate("fields.address-confirm.change.change-current-address"),
                attributes: {
                  "data-id": "yearFromChange"
                }
              }
            ]
          }
        },
        {
          key: {
            text: translate("fields.address-confirm.year-current")
          },
          value: {
            text: validFromRow
          },
          actions: {
            items: [
              {
                href: changeCurrentHref,
                html: translate("fields.address-confirm.change.change-current-yearfrom"),
                attributes: {
                  "data-id": "yearFromChange"
                }
              }
            ]
          }
        },
        {
          key: {
            text: translate("fields.address-confirm.previous")
          },
          value: {
            html: previousAddressRowValue
          },
          actions: {
            items: [
              {
                href: "/previous/address/edit?edit=true",
                html: translate("fields.address-confirm.change.change-previous-address"),
                attributes: {
                  "data-id": "previousAddressChange"
                }
              }
            ]
          }
        }
      ]
    }) }}

  {% else %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: translate("fields.address-confirm.current")
          },
          value: {
            html: currentAddressRowValue
          },
          actions: {
            items: [
              {
                href: changeCurrentHref,
                html: translate("fields.address-confirm.change.change-current-address"),
                attributes: {
                  "data-id": "currentAddressChange"
                }
              }
            ]
          }
        },
        {
          key: {
            text: translate("fields.address-confirm.year-current")
          },
          value: {
            text: validFromRow
          },
          actions: {
            items: [
              {
                href: changeCurrentHref,
                html: translate("fields.address-confirm.change.change-current-yearfrom"),
                attributes: {
                  "data-id": "yearFromChange"
                }
              }
            ]
          }
        }
      ]
    }) }}
  {% endif %}

  <form action="{{ action }}" method="POST" novalidate spellcheck="false">
    <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">

  {% if isMoreInfoRequired %}

    {{ govukRadios({
      idPrefix: "hasPreviousUKAddressWithinThreeMonths",
      name: "hasPreviousUKAddressWithinThreeMonths",
      value: formFields.hasPreviousUKAddressWithinThreeMonths.value if formFields.hasPreviousUKAddressWithinThreeMonths else undefined,
      classes: "govuk-radios--inline",
      fieldset: {
        legend: {
          text: translate("fields.hasPreviousUKAddressWithinThreeMonths.label"),
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: translate("fields.hasPreviousUKAddressWithinThreeMonths.hint")
      },
      errorMessage: formFields.hasPreviousUKAddressWithinThreeMonths.errorMessage if formFields.hasPreviousUKAddressWithinThreeMonths else undefined,
      items: [
        {
          value: "yes",
          text: translate("fields.hasPreviousUKAddressWithinThreeMonths.items.yes.label")
        },
        {
          value: "no",
          text: translate("fields.hasPreviousUKAddressWithinThreeMonths.items.no.label")
        }
      ],
      attributes: {
        "data-id": "getPreviousAddressRadios"
      }
    }) }}

  {% endif %}

  {{ govukButton({
    text: translate("pages.address-confirm.buttons.next"),
    attributes: {
      "id": "continue",
      "data-id": "next",
      "data-nav": "true",
      "data-link": "/undefined"
    }
  }) }}
  {%- include "../components/continue-submit-spinner.njk" -%}

  </form>

  <br>

{% endblock %}
