
{% from "frontend-ui/build/components/text/macro.njk" import text %}
{% from "./building-address/macro.njk" import inputGroup %}

{{ text(ctx, {
  id: "addressFlatNumber",
  name: "addressFlatNumber",
  label: { text: translate("fields.addressFlatNumber.label") },
  classes: "govuk-input--width-5",
  hint: ""
}) }}

{% include "./building-address/UK-building-address-input.njk" %}

{{ text(ctx,{
  id: "addressStreetName",
  name: "addressStreetName",
  label: { text: translate("fields.addressStreetName.label") },
  classes: "govuk-input--width-20",
  hint: "",
  autocomplete:"address-line1"
}) }}

{{ text(ctx, {
  id: "addressLocality",
  name: "addressLocality",
  label: { text: translate("fields.addressLocality.label") },
  classes: "govuk-input--width-20",
  hint: "",
  autocomplete:"address-line2"
}) }}
