{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<h1 id="header" class="govuk-heading-l">{{translate("pages.addressProblem.title")}}</h1>

<form action="{{ action }}" method="POST" novalidate spellcheck="false">
  <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">

  {% set contentHtml = translate("pages.addressProblem.content") %}
  {% if contentHtml is iterable and contentHtml is not string %}
    {% for item in contentHtml %}{{ item | safe }}{% endfor %}
  {% elif contentHtml %}
    {{ contentHtml | safe }}
  {% endif %}

  {{ govukRadios(formFields.addressBreak) }}

  {{ govukButton({
    text: translate("buttons.next"),
    attributes: { "id": "continue", "data-nav": "true", "data-link": "/undefined" }
  }) }}

  {% set helpContactHtml = translate("links.helpContact") %}
  {% if helpContactHtml is iterable and helpContactHtml is not string %}
    {% for item in helpContactHtml %}{{ item | safe }}{% endfor %}
  {% elif helpContactHtml %}
    {{ helpContactHtml | safe }}
  {% endif %}

</form>
