
{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "./building-address/macro.njk" import inputGroup %}

{{ hmpoText(ctx, {
  id: "addressFlatNumber",
  name: "addressFlatNumber",
  label: { text: translate("fields.addressFlatNumber.label") },
  classes: "govuk-input--width-5",
  hint: ""
}) }}

{{ inputGroup({
  id: "ukBuildingAddress",
  label: { text: translate("buildingAddress.label") },
  hint: { text: translate("buildingAddress.hint") },
  wrapper: {
    classes: "govuk-inset-text govuk-!-margin-top-0"
  },
  errorMessage: values.ukBuildingAddressEmptyValidator,
  inputs: [
    {
      id: "addressHouseNumber",
      name: "addressHouseNumber",
      label: { text: translate("fields.addressHouseNumber.label") },
      classes: "govuk-input--width-5",
      value: values.addressHouseNumber,
      hint: "",
      errorMessage: values.addressHouseNumberInvalid
    },
    {
      id: "addressHouseName",
      name: "addressHouseName",
      label: { text: translate("fields.addressHouseName.label") },
      classes: "govuk-input--width-20",
      value: values.addressHouseName,
      hint: "",
      errorMessage: values.addressHouseNameInvalid
    }
  ]
} )
}}

{{ hmpoText(ctx,{
  id: "addressStreetName",
  name: "addressStreetName",
  label: { text: translate("fields.addressStreetName.label") },
  classes: "govuk-input--width-20",
  hint: "",
  autocomplete:"address-line1"
}) }}

{{ hmpoText(ctx, {
  id: "addressLocality",
  name: "addressLocality",
  label: { text: translate("fields.addressLocality.label") },
  classes: "govuk-input--width-20",
  hint: "",
  autocomplete:"address-line2"
}) }}
