{% from "frontend-ui/build/components/radios/macro.njk" import radios %}
{% from "frontend-ui/build/components/form/macro.njk" import form %}
{% from "frontend-ui/build/components/submit/macro.njk" import submit %}
{% from "frontend-ui/build/components/html/macro.njk" import html %}

<h1 id="header" class="govuk-heading-l">{{translate("pages.addressProblem.title")}}</h1>
{% call form(ctx) %}

  {{html(translate("pages.addressProblem.content"))}}

  {{ radios(ctx, {
      id: "addressBreak",
      name: "addressBreak",
      value: "addressBreak",
      legend: {
        classes: ["govuk-fieldset__legend--s"],
        text: ""
      },
      hint: "",
      fields: addressBreak.items
    })
  }}

  {{ submit(ctx, {attributes: {"data-nav": true, "data-link": "/undefined"}, id: "continue", text: translate("buttons.next")}) }}

 {{html(translate("links.helpContact"))}}

{% endcall %}
