{% macro yearFromField(ctx, params) %}
  {% from "hmpo-text/macro.njk" import hmpoText %}

  <h2 class="govuk-heading-s">{{ params.title }}</h2>

  {{ hmpoText(ctx, {
    id: params.name,
    name: params.name,
    label: { text: params.label },
    classes: "govuk-input--width-4",
    hint: "",
    type: "text",
    inputmode: "numeric",
    attributes: { "spellcheck": "false" }
  }) }}
{% endmacro %}
