{% from "hmpo-text/macro.njk" import hmpoText %}

<h4>{{translate("fields.addressYearFrom.title")}}</h4>

{{ hmpoText(ctx,{
  id: "addressYearFrom",
  name: "addressYearFrom",
  label: { text: translate("fields.addressYearFrom.label")},
  classes: "govuk-input--width-4",
  hint: ""
}) }}
