{% macro yearFromField(params) %}
  {% from "govuk/components/input/macro.njk" import govukInput %}

  <h2 class="govuk-heading-s">{{ params.title }}</h2>

  {{ govukInput(formFields[params.name]) }}
{% endmacro %}
