{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}

<h1 id="header" class="govuk-heading-l">{{translate("pages.addressProblem.title")}}</h1>
{% call hmpoForm(ctx) %}

  {{hmpoHtml(translate("pages.addressProblem.content", { returnObjects: true }))}}

  {{ hmpoRadios(ctx, {
      id: "addressBreak",
      name: "addressBreak",
      value: "addressBreak",
      legend: {
        classes: ["govuk-fieldset__legend--s"]
      },
      fields: addressBreak.items
    })
  }}

  {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}

 {{hmpoHtml(translate("links.helpContact", { returnObjects: true }))}}

{% endcall %}
