<script nonce="{{ cspNonce }}">
  (function () {
    var formSubmitted = false;
    function delayDisableButton(button) {
      button.className += ' button--spinner';
      setTimeout(function () {
        button.setAttribute('disabled', true);
      }, 200);
    }
    function submitSpinner() {
      var select = document.getElementById('continue');
      select.addEventListener('click', function (event) {
        if (formSubmitted) {
          event.preventDefault();
        } else {
          formSubmitted = true;
          delayDisableButton(event.target);
        }
      });
    }
    submitSpinner();
  })();
</script>
