
{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({ id: "nonUKAddressStreetName", name: "nonUKAddressStreetName", value: fieldValues.nonUKAddressStreetName, errorMessage: fieldErrors.nonUKAddressStreetName, label: { text: translate("nonUKAddressStreetName.label") }, hint: { text: translate("nonUKAddressStreetName.hint") } }) }}

{{ govukInput({ id: "nonUKAddressLocality", name: "nonUKAddressLocality", value: fieldValues.nonUKAddressLocality, errorMessage: fieldErrors.nonUKAddressLocality, label: { text: translate("nonUKAddressLocality.label") }, hint: { text: translate("nonUKAddressLocality.hint") } }) }}

{{ govukInput({ id: "nonUKAddressPostalCode", name: "nonUKAddressPostalCode", value: fieldValues.nonUKAddressPostalCode, errorMessage: fieldErrors.nonUKAddressPostalCode, label: { text: translate("nonUKAddressPostalCode.label") }, hint: { text: translate("nonUKAddressPostalCode.hint") } }) }}

{{ govukInput({ id: "nonUKAddressRegion", name: "nonUKAddressRegion", value: fieldValues.nonUKAddressRegion, errorMessage: fieldErrors.nonUKAddressRegion, label: { text: translate("nonUKAddressRegion.label") }, hint: { text: translate("nonUKAddressRegion.hint") } }) }}
