
{% from "hmpo-text/macro.njk" import hmpoText %}

{{ hmpoText(ctx, {
      id: "nonUKAddressStreetName",
      name: "nonUKAddressStreetName",
      label: { text: translate("fields.nonUKAddressStreetName.label") },
      classes: "govuk-input--width-20",
      hint: "",
      autocomplete: "address-line1"
    }) }}

{{ hmpoText(ctx, {
      id: "nonUKAddressLocality",
      name: "nonUKAddressLocality",
      label: { text: translate("fields.nonUKAddressLocality.label") },
      classes: "govuk-input--width-20",
      hint: "",
      autocomplete: "address-line2"
    }) }}

{{ hmpoText(ctx, {
      id: "nonUKAddressPostalCode",
      name: "nonUKAddressPostalCode",
      label: { text: translate("fields.nonUKAddressPostalCode.label") },
      classes: "govuk-input--width-10",
      hint: "",
      autocomplete: "postal-code"
    }) }}

{{ hmpoText(ctx, {
      id: "nonUKAddressRegion",
      name: "nonUKAddressRegion",
      label: { text: translate("fields.nonUKAddressRegion.label") },
      classes: "govuk-input--width-20",
      hint: { text: translate("fields.nonUKAddressRegion.hint") }
    }) }}
