{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput(formFields.nonUKAddressStreetName) }}

{{ govukInput(formFields.nonUKAddressLocality) }}

{{ govukInput(formFields.nonUKAddressPostalCode) }}

{{ govukInput(formFields.nonUKAddressRegion) }}
