{% extends "form-template.njk" %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}

{% set hmpoPageKey = "address-form" %}
{% set hmpoPageContent = "address-form" %}

{% set hmpoPageKey = "address-form" %}

{% block mainContent %}

  <h1 id="header">{{translate("pages.address-form-previous.title")}}</h1>

  {{hmpoHtml(translate("links.previous.changePostcode"))}}

  {% call hmpoForm(ctx) %}

    {% include "../templates/address-input-fields.html" %}

    {{ hmpoSubmit(ctx, {text: translate("buttons.next")}) }}

  {% endcall %}

{% endblock %}
